<div class="container">

<nav>
  <h1> Welcome to Job Tracker </h1>
</nav>

<div>
  <p class="main-links"><%= link_to "COMPANIES", companies_path%></p>
  <p class="main-links"><%= link_to "JOB CATEGORIES", categories_path %></p>
</div>

</div>
