<div class="column-container">

  <h1> JOB TRACKER </h1>

  <%= link_to "Companies", companies_path, class: "homepage-links" %>
  <%= link_to "Job Categories", categories_path, class: "homepage-links" %>
  <%= link_to "Dashboard", "/dashboard", class: "homepage-links" %>
</div>
