<nav>
  <h1>Edit Job Category</h1>
  <%= link_to "Back Home", root_path, class: "nav-links" %>
  <%= link_to "Categories List", categories_path, class: "nav-links" %>
</nav>

<%= render partial: "form" %>
