<nav>
  <h1><%= @category.title %></h1>
  <%= link_to "Home", root_path, class: "nav-links" %>
  <%= link_to "Categories List", categories_path, class: "nav-links" %>
</nav>

<h3> Current Jobs: </h3>
<% @category.jobs.each do |job| %>
  <%= job.title  %></br>
<% end %>
